* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif 
}

body {
    background-image: url("/imagens/mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: #000000f2;
    width: 450px;
    border-radius: 20px;
    padding: 20px;
}

.input-texto {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}

.opicoes{ 
    color:black;
    font-size: 15px;
    padding:10px;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #ffffff1a;
    outline: none;
    padding: 10px;
    color: #ffffff;
}

button {
    border: none;
    padding: 10px;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.controle {
    display:flex; 
    align-items: center;
    gap:10px;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.resultado{
    padding:15px;
    background-color:#ffffff1a;
    border-radius:15px;

 
}

.titulo-traducao{
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.traducao{ 
    color:#ffffff;
    font-size: 16px;
}

